:root.theme-dark {
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --decor-text-color: #000028;
  --accent-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);

  --bg-color: #000028;
  --bg-image: url('/images/cover-image-dark.png');
}
