:root.theme-light {
  --text-color: #353430;
  --main-title-color: #FFC2E6;
  --decor-text-color: #353430;
  --accent-color: #FF8DCB;
  --hover-color: rgba(50, 49, 45, 0.4);

  --bg-color: #FFF1F7;
  --bg-image: url('/images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --main-title-color: #FFC2E6;
    --decor-text-color: #353430;
    --accent-color: #FF8DCB;
    --hover-color: rgba(50, 49, 45, 0.4);

    --bg-color: #FFF1F7;
    --bg-image: url('/images/cover-image-light.png');
  }

  .theme-auto .info__title {
    color: var(--text-color);
  }
  
  .theme-auto .header__theme-menu-button {
    color: var(--text-color);
  }
  
  .theme-auto .header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid var(--text-color);
  }
  
  .theme-auto .header__theme-menu-button_active {
    outline-color: var(--text-color);
  }
  
  .theme-auto .decorated-zone::before,
  .theme-auto .decorated-zone::after {
    border-color: var(--text-color);
  }
  
  .theme-auto .header__rec {
    display: none;
  }
}

.theme-light .info__title {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button_active {
  outline-color: var(--text-color);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--text-color);
}

.theme-light .header__rec {
  display: none;
}